<div class="about-section">
    <h1>Gym Fitness</h1>
    <p>We focus to create legends here.</p>
    <p>Our main goal is to make staying healthy a goal and a trend of life</p>
  </div>
  
  <h2 style="text-align:center">Our Leads</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/image/an.jpg" alt="Jane" style="width:43%">
        <div></div>
        <div class="container">
          <h2>Arnold.S</h2>
          <p class="title">7 Times Mr Olympia</p>
          <p>The legend himself trains here...</p>
          <p>arny@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/image/lady.jpg" alt="Mike" style="width:23%" height="23%" >
        <div class="container">
          <h2>shasha Ross</h2>
          <p class="title">Women Classic Division</p>
          <p>Blends In all kind of workout perfectly..</p>
          <p>shasha@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/image/jay.jpg" alt="John" style="width:30%" height="30%">
        <div class="container">
          <h2>Jay Cutler</h2>
          <p class="title">The Beast</p>
          <p>This beast dosent require any intro </p>
          <p>jay@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>