
<h2></h2>
<table class="table table-striped">
    <thead>
        <tr>
        <th>name</th>
        <th>email</th>
        <th>gymp-type</th>
        <th>fee-paid</th>
        <th>Actions</th>
        
    </tr>

    </thead>
    <tbody>
        <tr *ngFor="let pay of pay">
        <td>{{pay.name}}</td>
        <td>{{pay.email}}</td>
        <td>{{pay.gymtype}}</td>
        <td>{{pay.fees}}</td>
      
        <td>
            <button (click)="deleteFess(pay.id) " class="btn btn-danger" style="margin-left: 10px;">Delete</button>

        </td>
        </tr>



        

    </tbody>

    <br>
    <br>
 
</table>