<div class="mapper">
  
  <div class="check">
  
    <ul>
      <li><a routerLink="home">home</a></li>
      <li><a routerLink="aboutus">aboutus</a></li>
      <li><a routerLink="ourteam">Ourteam</a></li>
      <li><a routerLink="contact">contactus</a></li>
      <li><a routerLink="signup">BE-MEMBER</a></li>
      <li><a routerLink="admin">Admin</a></li>
    </ul>
  </div>
  
  <div class="left">
    <img src="assets/image/gym2.png" alt="no image">
  
</div>

<div class="right">
  <ul>
    <li ><a routerLink="cal"><img src="assets/image/bmi1.png" ></a></li>
  <!--<li><a routerLink="cal">BMI Calculator</a></li>-->
</ul>

</div>

<div>

</div>
</div>
  <router-outlet></router-outlet>

 
