<h3 style="text-align: center;">View Member</h3>
<div class="mid">
    <div class="col-sm">
        <label><b>Name:</b></label>   {{employee.name}}
    </div>

    <div class="col-sm">
        <label><b>Email:</b></label>  {{employee.email}}
    </div>



    <div class="col-sm">
        <label><b>MobileNo:</b></label>   {{employee.mobileno}}
    </div>

    <div class="col-sm">
        <label><b>Age:</b></label>  {{employee.age}}
    </div>

    <div class="col-sm">
        <label><b>Gender:</b></label>  {{employee.gender}}
    </div>


    <div>
        <label><b>Gymtime:</b></label>  {{employee.gymtime}}
    </div>


    <div>
        <label><b>Payment:</b></label>  {{employee.payment}}
    </div>
</div>