<div class="col-md-5 offset-md-3">
    <h3>update Gym-Staff</h3>
    <form (ngSubmit)="onsubmit()">
        <div class="form-group">
            <label>Name</label>
            <input type="text " class="form-control" id="name"
            [(ngModel)]="gymstaff.name" name="name">
            
    
        </div>
        <br>
    
    
        <div class="form-group">
            <label>Branch</label>
            <input type="text " class="form-control" id="address"
            [(ngModel)]="gymstaff.address" name="address">
            
    
        </div>
    <br>
    
        <div class="form-group">
            <label>Mobile-No</label>
            <input type="text " class="form-control" id="mobileno"
            [(ngModel)]="gymstaff.mobileno" name="mobileno">
            
    
        </div>
    
       
    
    <br>
        <div class="form-group">
            <label> Gym-Qualification</label>
            <input type="text " class="form-control" id="qualification"
            [(ngModel)]="gymstaff.qualification" name="qualification">
            
    
        </div>
    <br>
    
        <div class="form-group">
            <label>Gym-Time</label>
            <input type="text " class="form-control" id="time"
            [(ngModel)]="gymstaff.time" name="time">
            
    
        </div>
    
    <br>
        <div class="form-group">
            <label>part/full Time</label>
            <input type="text " class="form-control" id="time"
            [(ngModel)]="gymstaff.time" name="time">
            
    
        </div>
        <br>


        <div class="form-group">
            <label>Salary</label>
            <input type="text " class="form-control" id="salary"
            [(ngModel)]="gymstaff.salary" name="salary">
            
    
        </div>

        <br>
        <button class="btn btn-success" type="submit">Submit</button>
        
        
    
    
    </form>
    </div>