
<div class="container">


    <div class="row">


        <div class="col-sm-4">


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/image/pushup.gif" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">PushUp</h5>
                  <p class="card-text">Hit 3 sets of 10 reps each with minimun 20 sec rest</p>
                  
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/image/pullup.gif" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">PullUp</h5>
                  <p class="card-text">Hit 3 set of 10 reps each with half a minute rest</p>
                  
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/image/hindu.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">SuryaNamaskar</h5>
                  <p class="card-text">Hit 3 set of 10 reps each with half a minute rest</p>
                  
                </div>
              </div>
              


            
        </div>
    </div>

</div>
<div class="container1">
<div class="right">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/image/tridips.gif" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">TricepDips</h5>
          <p class="card-text">Hit 3 set of 20 reps each with 20sec rest</p>
          
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/image/jump.gif" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">JumpingJack</h5>
          <p class="card-text">Hit 3 set of 40 jumps each with half a minute rest</p>

        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/image/burpe.gif" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Burpee</h5>
          <p class="card-text">Hit 3 set of 30 reps each with 20 sec of rest between each set</p>
        </div>
      </div>

      
</div>
</div>


<div clas="container">

<div class="mid">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/image/knee.gif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Knee Stretch</h5>
      <p class="card-text">warm  and stretch up your legs before and after workout</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/image/back.gif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Back Stretch</h5>
      <p class="card-text">Helps build flexibility in your back</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/image/hip.gif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hip Truhst</h5>
      <p class="card-text">Increases hip mobility</p>
    </div>
  </div>

  
</div>

</div>
