<div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>
      <p>Swing by for a cup of coffee, or leave us a message:</p>
    </div>
    <div class="row">
      <div class="column">
       
      </div>
      <div class="column">
        <form  (ngSubmit)="login()" >
          <label for="fname">FirstName</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name.." [(ngModel)]="message.firstname">
        
    <br><br>




          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name.."  [(ngModel)]="message.lastname">
          <br><br>


          <label for="country">Branch</label>
          <select id="country" name="country" [(ngModel)]="message.country">
            <option value="kp pune">kp pune</option>
            <option value="pimpri pune">pimpri pune</option>
            <option value="magarpatta pune">magarpatta pune</option>
          </select>
          
          <br><br>


          <label for="subject" >subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"  [(ngModel)]="message.subject"></textarea>
          <button class= "btn btn-success " type="submit">submit</button>
        </form>
      </div>
    </div>
  </div>
  